<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobi.qrtag.tpay_flutter">

    <application
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".CustomTpayActivity"/>
    </application>

</manifest>